CLIENT_URL=http://localhost:5173
JWT_SECRET=80a26278335e931265b2dd9a67fc8d60 #local-development-jwt-secret-change-this-before-deploying
MONGO_URI="mongodb://user:pass@localhost:27019/statswr?authSource=admin&directConnection=true"

PORT=5555

MCP_CLIENT_REFRESH_INTERVAL=1500000

# Optional: required only for the authenticated chatbot route.
OPENAI_API_KEY= api-key # <your openai api key>
MCP_SERVER_URL=http://localhost:3001/mcp/
