@keyframes logobeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.logo {
    color: black;
    opacity: 0.3;
    
}